.p-multiselect .p-multiselect-label {
  padding: 0.5rem 0.5rem;
  overflow-x: hidden;
  overflow-y:hidden;
  text-overflow: ellipsis;
  white-space:initial;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
} 
.ui-dropdown-label-container {
  width: 100%;
  }
  .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 2em !important;
  }
  .ui-dropdown .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 1em !important;
  }
  .page-filter-bar ::ng-deep .ui-dropdown .ui-dropdown-label {
    text-overflow: ellipsis;
    padding-right: 2em !important;
}
  table thead {
    font-size: 11px;
  }
  table tbody {
    font-size: 11px;
  }

  .nav-container {
    position:relative;
    }
  .button-back {
    position:absolute;
    right:1rem;
    top:50%;
    transform:translateY(-50%);
    }

  .card-heade-em-deshboard select option {
    margin-top: 20px;
    border-bottom-color: #6900c7;
    border-bottom-width: 5px;
  }
  .card-heade-em-deshboard {
    box-shadow: 0px 10px 8px -10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 0%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-top-color: #008eaa;
    border-top-width: 5px;
  }
  
  #dropdown-menu1>li:hover {
    display: block;
    background-color: #1216f8;
    color: #ffffff;
  }
  
  .btn-default {
    border: none;
  }

  .mobile-v{
    width: 23%;
  }
  .font-size{
    font-size: 14px;
  }
  .font-size-1{
    font-size: 13px;
  }
  .text-report{
    font-size: 14px;
  }
  .view-port{
    width: 82%;
  }
  .mar_t{
    margin-top: 9px;
  }

  .card-header {
    padding: 10px 20px;
    display: grid;
    align-items: center;
    border-color: #e6e9ed;
}

.lineHeight{
  line-height: normal;
}
  
@media only screen and (max-width: 430px) {
  .excel1 {
    margin: 10px;
    float: left;
  }
  .mobile-v{
    width: 100%;
    text-align: left;
  }
  .pp{
    padding-right: 12px;
    font-size: 10px;
  }
  .mobile-b{
    font-size: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 770px) and (min-width: 768px) {
  .mobile-v{
    width: 23%;
  }
  .view-port{
    margin: 12px !important;
  }
  .text-report{
    font-size: 14px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 1024px) {
  .mobile-v{
    width: 23%;
  }
  .view-port{
    width: 80%;
  }
  .text-report{
    font-size: 14px;
  }
}
