<div id="main_content">
  <app-sidebar></app-sidebar>
  <div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
      <div class="container-fluid p-0">
        <div class="col-lg-12">
          <div class="nav-container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngIf="role === 'Admin'">
                  <a (click)="adminDashboard()">Dashboard</a>
                </li>
                <li class="breadcrumb-item" *ngIf="role === 'superadmin'">
                  <a (click)="dashboard()">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Org Tickets
                </li>
              </ol>
            </nav>
            <button
              class="addButton1 btn btn-primary button-back"
              (click)="dashboard()"
            >
              <span class="css-button-icon"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i
              ></span>
            </button>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12">
            <div class="mb-4">
              <h4>Org Tickets</h4>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-12 col-md-12 p-0">
            <div class="card" style="overflow-x: scroll">
              <div class="card-header card-heade-em-deshboard">
                <!--Size dropdown menu-->
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-auto text-left view-port">
                      <div class="row">
                        <div class="font-size-1 mar_t pr-2">From:</div>
                        <div class="mobile-v">
                          <p-calendar
                            [(ngModel)]="date3"
                            [showIcon]="true"
                            inputId="icon"
                            class="lineHeight"
                            appendTo="body"
                          ></p-calendar>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">To:</div>
                        <div class="mobile-v">
                          <p-calendar
                            [(ngModel)]="date4"
                            [showIcon]="true"
                            inputId="icon"
                            (onSelect)="doSomething(date4)"
                            class="lineHeight"
                            appendTo="body"
                          ></p-calendar>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">
                          <span>Project : </span>
                        </div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="projectReport($event.value)"
                            [options]="selectProject"
                            class="lineHeight multiselect-custom"
                            defaultLabel="Select a Project"
                            [filter]="true"
                            name="test"
                            [maxSelectedLabels]="2"
                            appendTo="body"
                            [style]="{
                              overflow: 'hidden',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <a
                        class="addButton float-right btn btn-primary"
                        (click)="excelDownload()"
                      >
                        <span class="css-button-icon"
                          ><i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-12 mt-3">
                  <div class="row">
                    <div class="col-12 text-left">
                      <div class="row">
                        <div class="font-size-1 mar_t pr-2">Status:</div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="projectReport($event.value)"
                            [options]="status_name"
                            defaultLabel="Select a Status"
                            [filter]="true"
                            class="lineHeight"
                            name="test"
                            appendTo="body"
                            [style]="{
                              overflow: 'visible',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">
                          Assigned To:
                        </div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="assignedToReport($event.value)"
                            [options]="selectAssignedTo"
                            defaultLabel="Select a Assigned To"
                            [filter]="true"
                            class="lineHeight"
                            name="test"
                            appendTo="body"
                            [style]="{
                              overflow: 'visible',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">Category:</div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="categoryReport($event.value)"
                            [options]="selectCategory"
                            defaultLabel="Select a Category"
                            [filter]="true"
                            class="lineHeight"
                            name="test"
                            appendTo="body"
                            [style]="{
                              overflow: 'visible',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto"></div>
                  </div>
                </div> -->
              </div>
              <div class="card-body p-1">
                <table class="table-bordered table_style" width="100%">
                  <thead>
                    <tr>
                      <th style="width: 40px">S.NO</th>
                      <th style="width: 60px">Ticket No.</th>
                      <th style="width: 88px">Assigned By</th>
                      <th style="width: 82px">Description</th>
                      <th style="width: 70px">Client Name</th>
                      <th style="width: 77px">Project Name</th>
                      <th style="width: 82px">Assigned To</th>
                      <th style="width: 56px">Category</th>
                      <th style="width: 56px">Sub Category</th>
                      <th style="width: 60px">Priority</th>
                      <th style="width: 82px">Comment</th>
                      <th style="width: 58px">Status</th>
                      <th style="width: 62px">Creation Date</th>
                      <th style="width: 62px">Expected Delivery Date</th>
                      <th style="width: 62px">Start Date</th>
                      <th style="width: 62px">Actual End Date</th>
                      <th style="width: 62px">Total Days</th>
                      <th style="width: 82px">PM</th>
                      <th style="width: 35px">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ticketDetailsData; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.ticket_no }}</td>
                      <td>{{ item.assigned_by }}</td>
                      <td
                        style="
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          padding: 2px;
                        "
                        title="{{ item.ticket_desc }}"
                      >
                        {{ item.ticket_desc }}
                      </td>
                      <td>{{ item.customer_id }}</td>
                      <td>{{ item.project_name }}</td>
                      <td>{{ item.assigned_to }}</td>
                      <td>{{ item.category_id }}</td>
                      <td>{{ item.sub_category_id }}</td>
                      <td>
                        <span
                          *ngIf="item.priority == 0"
                          class="tag tag-info"
                          style="color: white"
                        >
                          Lower
                        </span>
                        <span
                          *ngIf="item.priority == 1"
                          class="tag tag-yellow"
                          style="color: white"
                        >
                          Medium
                        </span>
                        <span
                          *ngIf="item.priority == 2"
                          class="tag tag-red"
                          style="color: white"
                        >
                          High
                        </span>
                      </td>
                      <td
                        style="
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          padding: 2px;
                        "
                        title="{{ item.comments }}"
                      >
                        <div
                          *ngIf="
                            item.status === 1 ||
                            item.status === 2 ||
                            item.status === 3 ||
                            item.status === 4 ||
                            item.status === 5 ||
                            item.status === 6
                          "
                        >
                          {{ item.comments }}
                        </div>
                        <div *ngIf="item.status == 0">
                          {{ "-" }}
                        </div>
                      </td>
                      <td>{{ item.status_name }}</td>
                      <td>{{ item.start_date | date }}</td>
                      <td>{{ item.end_date | date }}</td>
                      <td>{{ item.created_at | date }}</td>
                      <td>
                        <div *ngIf="item.status == 5">
                          {{ item.updated_at | date }}
                        </div>
                        <div
                          *ngIf="
                            item.status === 0 ||
                            item.status === 1 ||
                            item.status === 2 ||
                            item.status === 3 ||
                            item.status === 4 ||
                            item.status === 6
                          "
                        >
                          {{ "-" }}
                        </div>
                      </td>
                      <td>
                        <div *ngIf="item.status == 5">
                          {{ item.total_days }}
                        </div>
                        <div
                          *ngIf="
                            item.status === 0 ||
                            item.status === 1 ||
                            item.status === 2 ||
                            item.status === 3 ||
                            item.status === 4 ||
                            item.status === 6
                          "
                        >
                          {{ "-" }}
                        </div>
                      </td>
                      <!-- <td>{{ item.end_date | date }}</td> -->
                      <td>{{ item.pm }}</td>
                      <td>
                        <i
                          *ngIf="
                            item.status === 0 ||
                            item.status === 1 ||
                            item.status === 2 ||
                            item.status === 3 ||
                            item.status === 4 ||
                            item.status === 6
                          "
                          class="fa fa-edit"
                          data-toggle="modal"
                          data-target="#modal-fullscreen"
                          (click)="viewTicket(item)"
                        ></i>
                        <i
                          *ngIf="item.status == 5"
                          class="fa fa-edit"
                          style="color: red"
                        ></i>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr *ngIf="ticketDetailsData.length === 0">
                      <td colspan="16" style="text-align: center">
                        No Data Found
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade modal-fullscreen modal-padding"
      id="modal-fullscreen"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modal-header1">
            <h6 class="modal-title" id="myModalLabel"><b>Bug View</b></h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              <i class="fa fa-times fa" aria-hidden="true"></i>
            </button>
          </div>
          <div class="modal-body card-resize1">
            <div class="row">
              <div class="col-md-12">
                <div class="container mt-3">
                  <div class="row">
                    <div class="col-md-12">
                      <h5>
                        Bug ID : {{ bugView.ticket_no }},
                        <span
                          style="
                            display: inline-block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 13ch;
                            margin-bottom: -5px;
                          "
                        >
                          {{ bugView.ticket_desc }}</span
                        >
                      </h5>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <span class="mr-4"
                        ><i class="fa fa-user-o" aria-hidden="true"></i
                        ><span class="ml-2">By {{ bugView.assigned_by }}</span>
                      </span>
                      <span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i
                        ><span class="ml-2">{{
                          bugView.created_at | date : "short"
                        }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <!-- {{status_dummy}} -->
                    <button
                      *ngIf="status_dummy === 0"
                      (click)="statusChange(0)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 0 }"
                    >
                      Open
                    </button>
                    <button
                      *ngIf="status_dummy === 0 || status_dummy === 1"
                      (click)="statusChange(1)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 1 }"
                    >
                      In-Progress
                    </button>
                    <button
                      *ngIf="
                        status_dummy === 0 ||
                        status_dummy === 1 ||
                        status_dummy === 3 ||
                        status_dummy === 2
                      "
                      (click)="statusChange(2)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 2 }"
                    >
                      Resolved
                    </button>
                    <button
                      *ngIf="
                        status_dummy === 0 ||
                        status_dummy === 1 ||
                        status_dummy === 3
                      "
                      (click)="statusChange(3)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 3 }"
                    >
                      Awaiting Information
                    </button>
                    <button
                      *ngIf="status_dummy === 2 || status_dummy === 4"
                      (click)="statusChange(4)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 4 }"
                    >
                      Approved
                    </button>
                    <button
                      *ngIf="
                        status_dummy === 4 ||
                        status_dummy === 7 ||
                        status_dummy === 5
                      "
                      (click)="statusChange(5)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 5 }"
                    >
                      Closed
                    </button>
                    <button
                      *ngIf="status_dummy !== 5 || status_dummy === 6"
                      (click)="statusChange(6)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 6 }"
                    >
                      Hold
                    </button>
                    <button
                      *ngIf="
                        status_dummy === 5 ||
                        status_dummy === 7 ||
                        status_dummy === 6
                      "
                      (click)="statusChange(1)"
                      class="ml-2 tag tag-gray"
                      [ngClass]="{ enabledStatus: status === 1 }"
                    >
                      Reopen
                    </button>
                  </div>

                  <div class="mt-3">
                    <div class="mt-3">
                      <div class="">
                        <div class="row clearfix">
                          <div class="col-lg-6">
                            <div class="card">
                              <div class="card-header">
                                <div
                                  class="d-md-flex justify-content-between mb-2"
                                >
                                  <ul class="nav nav-tabs b-none">
                                    <li class="nav-item">
                                      <b
                                        class="nav-link active"
                                        data-toggle="tab"
                                        href="#bug"
                                        ><i
                                          class="fa fa-bug fa-2 mr-2"
                                          aria-hidden="true"
                                        ></i>
                                        Bug Information</b
                                      >
                                    </li>
                                    <li class="nav-item">
                                      <b
                                        class="nav-link"
                                        data-toggle="tab"
                                        href="#description"
                                        ><i
                                          class="fa fa-info-circle fa-2 mr-2"
                                          aria-hidden="true"
                                        ></i>
                                        Description
                                      </b>
                                    </li>
                                    <li class="nav-item">
                                      <b
                                        class="nav-link"
                                        data-toggle="tab"
                                        href="#comments"
                                        ><i
                                          class="fa fa-comments fa-2 mr-2"
                                          aria-hidden="true"
                                        ></i>
                                        Comments</b
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="">
                                  <div class="tab-content">
                                    <div
                                      class="tab-pane fade"
                                      id="description"
                                      role="tabpanel"
                                    >
                                      <div class="row clearfix">
                                        <div class="col-md-12">
                                          <b>{{ bugView.ticket_desc }}</b>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="tab-pane fade"
                                      id="comments"
                                      role="tabpanel"
                                    >
                                      <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                          <div
                                            *ngFor="
                                              let items of historyData;
                                              let i = index
                                            "
                                          >
                                            {{ i + 1 }}.
                                            {{ items.created_at | date }} -
                                            {{ items.comments }}
                                          </div>
                                          <b
                                            *ngIf="historyData.length === 0"
                                            class="text-center"
                                            >There are no records to display</b
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="tab-pane fade active show"
                                      id="bug"
                                      role="tabpanel"
                                    >
                                      <div class="">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="row">
                                              <div class="col-6 py-1">
                                                <strong>Assigned to:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{ bugView.assigned_to }}
                                                <button
                                                  class="border_Color"
                                                  (click)="reAssign()"
                                                >
                                                  <i
                                                    class="fa fa-pencil"
                                                    aria-hidden="true"
                                                  ></i>
                                                </button>
                                              </div>

                                              <div
                                                class="col-6 py-1"
                                                *ngIf="reassignField"
                                              >
                                                <strong>Re Assign To:</strong>
                                              </div>
                                              <div
                                                class="col-6 py-1"
                                                *ngIf="reassignField"
                                              >
                                                <div class="form-group">
                                                  <select
                                                    (change)="
                                                      reAssignChange(
                                                        $event.target.value
                                                      )
                                                    "
                                                    class="form-control"
                                                  >
                                                    <option
                                                      *ngFor="
                                                        let item of assignedToEmp
                                                      "
                                                      value="{{ item.value }}"
                                                    >
                                                      {{ item.label }}
                                                    </option>
                                                  </select>
                                                </div>
                                              </div>
                                              <div class="col-6 py-1">
                                                <strong>Due on:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{
                                                  bugView.created_at
                                                    | date : "short"
                                                }}
                                              </div>
                                              <div class="col-6 py-1">
                                                <strong>Severity:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{
                                                  bugView.priority === 0
                                                    ? "Low"
                                                    : bugView.priority === 1
                                                    ? "Medium"
                                                    : "High"
                                                }}
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="row">
                                              <div class="col-6 py-1">
                                                <strong>Status:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{
                                                  bugView.status === 0
                                                    ? "Open"
                                                    : bugView.status === 1
                                                    ? "In-Progress"
                                                    : bugView.status === 2
                                                    ? "Resolved"
                                                    : bugView.status === 3
                                                    ? " Awaiting Information"
                                                    : bugView.status === 4
                                                    ? "Approved"
                                                    : bugView.status === 5
                                                    ? "Closed"
                                                    : bugView.status === 6
                                                    ? " Hold"
                                                    : "Reopen"
                                                }}
                                              </div>
                                              <div class="col-6 py-1">
                                                <strong>Classification:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{
                                                  bugView.priority === 0
                                                    ? "Functional"
                                                    : bugView.priority === 1
                                                    ? "Technical"
                                                    : bugView.priority === 2
                                                    ? "UI/UX Designer"
                                                    : bugView.priority === 3
                                                    ? "UI/UX Developer"
                                                    : bugView.priority === 4
                                                    ? "Back End Developer"
                                                    : "DB Architech"
                                                }}
                                              </div>
                                              <div class="col-6 py-1">
                                                <strong>Practice:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{ bugView.practice_id }}
                                              </div>
                                              <div class="col-6 py-1">
                                                <strong>Category:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{ bugView.category_id }}
                                              </div>
                                              <div class="col-6 py-1">
                                                <strong> Sub Category:</strong>
                                              </div>
                                              <div class="col-6 py-1">
                                                {{ bugView.sub_category_id }}
                                              </div>
                                              <!-- <div class="col-5 py-1">
                                                <strong>Flag:</strong>
                                              </div>
                                              <div class="col-7 py-1">
                                                internalb
                                              </div> -->
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="card">
                              <div class="card-header">
                                <div
                                  class="d-md-flex justify-content-between mb-2"
                                >
                                  <ul class="nav nav-tabs b-none">
                                    <li class="nav-item">
                                      <b
                                        class="nav-link active"
                                        data-toggle="tab"
                                        href="#addnew"
                                        ><i
                                          class="fa fa-camera fa-2 mr-2"
                                          aria-hidden="true"
                                        ></i
                                        >Comments & Screenshots</b
                                      >
                                    </li>
                                    <li class="nav-item">
                                      <b
                                        class="nav-link"
                                        data-toggle="tab"
                                        href="#list"
                                        ><i
                                          class="fa fa-paperclip fa-2 mr-2"
                                          aria-hidden="true"
                                        ></i>

                                        Attachments
                                      </b>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="">
                                  <div class="tab-content">
                                    <div
                                      class="tab-pane fade"
                                      id="list"
                                      role="tabpanel"
                                    >
                                      <div class="row clearfix">
                                        <div
                                          class="col-md-12"
                                          *ngIf="bugView.files"
                                        >
                                          <a
                                            href="{{ path }}{{ bugView.files }}"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            >1.Attachment</a
                                          >
                                        </div>
                                        <div
                                          class="col-md-12 text-center"
                                          *ngIf="!bugView.files"
                                        >
                                          <b>There are no records to display</b>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="tab-pane fade active show"
                                      id="addnew"
                                      role="tabpanel"
                                    >
                                      <form [formGroup]="empTicket">
                                        <div class="row clearfix">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label for="screenshot"
                                                >Upload File</label
                                              >
                                              <input
                                                type="file"
                                                (change)="onFileChange($event)"
                                                name="screenshot"
                                                class="form-control"
                                                placeholder=""
                                              />
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <label
                                              >Comments
                                              <span style="color: red">*</span>
                                            </label>
                                            <textarea
                                              name="comments"
                                              [(ngModel)]="comments"
                                              id=""
                                              cols="30"
                                              rows="3"
                                              formControlName="comments"
                                              class="form-control"
                                              [ngClass]="{
                                                'is-invalid':
                                                  submitted && f.comments.errors
                                              }"
                                              required
                                            ></textarea>
                                            <div
                                              *ngIf="
                                                submitted && f.comments.errors
                                              "
                                              class="invalid-feedback"
                                            >
                                              <div
                                                *ngIf="
                                                  f.comments.errors.required
                                                "
                                              >
                                                Comments is required
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                      <div class="mt-3 float-right">
                                        <button
                                          [disabled]="spinner"
                                          (click)="statusSubmit()"
                                          type="submit"
                                          class="btn btn-primary footer-button"
                                        >
                                          Save
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="large-Modal"
  class="modal fade bd-example-modal-md"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- <div class="modal-header modal-header1">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button
          type="button"
          class="close close-button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <div aria-hidden="true">&times;</div>
        </button>
      </div>
       -->
      <form method="post" action="" role="form">
        <div class="modal-body">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-12 pr-3">
                <h4>
                  Are you sure you want to work on this ticket ?
                  <br />
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary footer-button"
            data-dismiss="modal"
            (click)="clear()"
          >
            Close
          </button>
          <button
            data-dismiss="modal"
            (click)="onSubmit()"
            type="button"
            class="btn btn-primary footer-button"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
