<div id="main_content">
  <app-sidebar></app-sidebar>
  <div class="page">
    <app-header></app-header>
    <div class="section-body mt-3">
      <div class="container-fluid p-0">
        <div class="col-lg-12">
          <div class="nav-container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngIf="role === 'Admin'">
                  <a (click)="adminDashboard()">Dashboard</a>
                </li>
                <li class="breadcrumb-item" *ngIf="role === 'superadmin'">
                  <a (click)="dashboard()">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Org Tickets
                </li>
              </ol>
            </nav>
            <button
              class="addButton1 btn btn-primary button-back"
              (click)="dashboard()"
            >
              <span class="css-button-icon"
                ><i class="fa fa-arrow-left" aria-hidden="true"></i
              ></span>
            </button>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12">
            <div class="mb-4">
              <h4>Org Tickets</h4>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-12 col-md-12 p-0">
            <div class="card">
              <div class="card-header card-heade-em-deshboard">
                <!--Size dropdown menu-->
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-auto text-left view-port" >
                      <div class="row">
                        <div class="font-size-1 mar_t pr-2">From:</div>
                        <div class="mobile-v">
                          <p-calendar
                            [(ngModel)]="date3"
                            [showIcon]="true"
                            inputId="icon"
                            class="lineHeight"
                          ></p-calendar>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">To:</div>
                        <div class="mobile-v" >
                          <p-calendar
                            [(ngModel)]="date4"
                            [showIcon]="true"
                            inputId="icon"
                            (onSelect)="doSomething(date4)"
                            class="lineHeight"
                          ></p-calendar>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2" >
                          <span>Project : </span>
                        </div>
                        <div class="mobile-v pr-1" >
                          <p-multiSelect
                            (onChange)="projectReport($event.value)"
                            [options]="selectProject"
                            class="lineHeight multiselect-custom"
                            defaultLabel="Select a Project"
                            [filter]="true"
                            name="test"
                            [maxSelectedLabels]="2"
                            appendTo="body"
                           
                            [style]="{
                              overflow: 'hidden',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <a
                        class="addButton float-right btn btn-primary"
                        (click)="excelDownload()"
                      >
                        <span class="css-button-icon"
                          ><i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-12 mt-3">
                  <div class="row">
                    <div class="col-12 text-left">
                      <div class="row">
                        <div class="font-size-1 mar_t pr-2">Status:</div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="projectReport($event.value)"
                            [options]="status_name"
                            defaultLabel="Select a Status"
                            [filter]="true"
                            class="lineHeight"
                            name="test"
                            appendTo="body"
                            [style]="{
                              overflow: 'visible',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">
                          Assigned To:
                        </div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="assignedToReport($event.value)"
                            [options]="selectAssignedTo"
                            defaultLabel="Select a Assigned To"
                            [filter]="true"
                            class="lineHeight"
                            name="test"
                            appendTo="body"
                            [style]="{
                              overflow: 'visible',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>

                        <div class="font-size-1 ml-2 mar_t px-2">Category:</div>
                        <div class="mobile-v pr-1">
                          <p-multiSelect
                            (onChange)="categoryReport($event.value)"
                            [options]="selectCategory"
                            defaultLabel="Select a Category"
                            [filter]="true"
                            class="lineHeight"
                            name="test"
                            appendTo="body"
                            [style]="{
                              overflow: 'visible',
                              width: '100%'
                            }"
                          >
                          </p-multiSelect>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto"></div>
                  </div>
                </div> -->
              </div>
              <div class="card-body p-2">
                <table
                  class="table-bordered"
                  width="100%"
                  style="table-layout: fixed"
                >
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>Ticket No.</th>
                      <th>Assigned By</th>
                      <th>Ticket Description</th>
                      <th>Project Name</th>
                      <th>Assigned To</th>
                      <th>Category</th>
                      <th>Priority</th>
                      <th>Status</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>PM</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ticketDetailsData; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.ticket_no }}</td>
                      <td>{{ item.assigned_by }}</td>
                      <td title="{{ item.ticket_desc }}">
                        {{ item.ticket_desc }}
                      </td>
                      <td>{{ item.project_name }}</td>
                      <td>{{ item.assigned_to }}</td>
                      <td>{{ item.category_id }}</td>
                      <td>
                        <span
                          *ngIf="item.priority == 0"
                          class="tag tag-info"
                          style="color: white"
                        >
                          Lower
                        </span>
                        <span
                          *ngIf="item.priority == 1"
                          class="tag tag-yellow"
                          style="color: white"
                        >
                          Medium
                        </span>
                        <span
                          *ngIf="item.priority == 2"
                          class="tag tag-red"
                          style="color: white"
                        >
                          High
                        </span>
                      </td>
                      <td>{{ item.status_name }}</td>
                      <td>{{ item.start_date | date }}</td>
                      <td>{{ item.end_date | date }}</td>
                      <td>{{ item.assigned_by }}</td>
                      <td>
                        <i
                          *ngIf="item.status === 0"
                          class="fa fa-edit"
                          data-toggle="modal"
                          data-target="#large-Modal"
                          (click)="clickTicket(item)"
                        ></i>
                        <i
                          *ngIf="item.status !== 0"
                          class="fa fa-edit"
                          style="color: red"
                        ></i>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr *ngIf="ticketDetailsData.length === 0">
                      <td colspan="12" style="text-align: center">
                        No Data Found
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="large-Modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
        <button
          type="button"
          class="close close-button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <div aria-hidden="true">&times;</div>
        </button>
      </div>
      <form method="post" action="" role="form">
        <div class="modal-body">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-12 pr-3">
                <h4>
                  Are you sure you want to work on this ticket ?
                  <br />
                  Once assigned cannot not be changed !!
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary footer-button"
            data-dismiss="modal"
            (click)="clear()"
          >
            Close
          </button>
          <button
            data-dismiss="modal"
            (click)="onSubmit()"
            type="button"
            class="btn btn-primary footer-button"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
