.p-multiselect .p-multiselect-label {
  padding: 0.5rem 0.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
.ui-dropdown-label-container {
  width: 100%;
}
.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 2em !important;
}
.ui-dropdown .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 1em !important;
}
.page-filter-bar ::ng-deep .ui-dropdown .ui-dropdown-label {
  text-overflow: ellipsis;
  padding-right: 2em !important;
}
.table_style {
  table-layout: fixed;
  text-align: center;
}
table thead {
  font-size: 10px;
}
table tbody {
  font-size: 9px;
}

.tag-yellow {
  background-color: #fbbd08;
  color: #fff;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 10px;
}

.tag-red {
  background-color: #db2828;
  color: #fff;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 10px;
}

.tag-info {
  background-color: #1a5089;
  color: #fff;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 10px;
}

.nav-container {
  position: relative;
}
.button-back {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.card-heade-em-deshboard select option {
  margin-top: 20px;
  border-bottom-color: #6900c7;
  border-bottom-width: 5px;
}
.card-heade-em-deshboard {
  box-shadow: 0px 10px 8px -10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 0%;
}
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-top-color: #008eaa;
    border-top-width: 5px;
  } */

#dropdown-menu1 > li:hover {
  display: block;
  background-color: #1216f8;
  color: #ffffff;
}

.btn-default {
  border: none;
}

.mobile-v {
  width: 23%;
}
.font-size {
  font-size: 14px;
}
.font-size-1 {
  font-size: 13px;
}
.text-report {
  font-size: 14px;
}
.view-port {
  width: 82%;
}
.mar_t {
  margin-top: 9px;
}

.card-header {
  padding: 10px 20px;
  display: grid;
  align-items: center;
  border-color: #e6e9ed;
  
}

.lineHeight {
  line-height: normal;
}

@media only screen and (max-width: 430px) {
  .excel1 {
    margin: 10px;
    float: left;
  }
  .mobile-v {
    width: 100%;
    text-align: left;
  }
  .pp {
    padding-right: 12px;
    font-size: 10px;
  }
  .mobile-b {
    font-size: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 770px) and (min-width: 768px) {
  .mobile-v {
    width: 23%;
  }
  .view-port {
    margin: 12px !important;
  }
  .text-report {
    font-size: 14px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 1024px) {
  .mobile-v {
    width: 23%;
  }
  .view-port {
    width: 80%;
  }
  .text-report {
    font-size: 14px;
  }
}
.card-ticketing {
  background: #e8ecef;
}

.card-header_ticketing {
  background-color: #9bc5c3;
}

.card-header_ticketing1 {
  background-color: #f9a947;
}

.card-header_ticketing2 {
  background-color: #627ab7;
}

.card-header_ticketing3 {
  background-color: #cdbf40;
}

.card-header_ticketing4 {
  background-color: #6bb06d;
}
div .b {
  word-wrap: break-word;
}
.card-header1 {
  padding: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 0.67em;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.card-list {
  font-size: 0.67em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-list-text {
  padding-top: 30px;
  color: #ffffff;
}

.card-list-text .h6,
h6 {
  font-size: 0.9rem;
}

.card-body-list {
  flex: 1 1 auto;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
}

.card-body-white {
  border-radius: 0px;
}

.border_Color {
  border: 0px;
  color: #448fd8;
}

.addButtonlist {
  background-color: #ffffff;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: Arial;
  text-decoration: none;
  font-size: 11px;
}

.addButtonlist:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: rgb(50, 77, 230);
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

#ticketing .card {
  background: #e8ecef;
}

#example-1 .card {
  background: #fff;
}

.nav-container {
  position: relative;
}

.button-back {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Ticketing Styles */

.ticketing-styles {
  column-count: 2;
  column-gap: 40px;
}

.ticketing-styles .ms-1 {
  padding-left: 10px;
}

.ticketing-styles .status {
  width: 90%;
}

.ticketing-styles-form {
  background: #ffffff;
}

/* employee Group styles */

.cancleButton {
  background-color: #2e964a;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin-right: 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.cancleButton:hover {
  background-color: #2e964a;
}

h2 {
  text-align: center;
  padding: 10px 0;
}

.card-body1 {
  padding: 0px;
  position: relative;
}

.readio {
  border: none;
}

.edit-button {
  background-color: rgb(21, 105, 214);
  border-radius: 5px;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  margin-right: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  font-size: x-small;
}

.close:focus {
  outline: none;
}

.dropdown {
  border: none;
}

.nav-container {
  position: relative;
}

.button-back {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-open-modal {
  margin-bottom: 0.5em;
}

.tabs-section {
  overflow: hidden;
  background-color: #fff;
  padding: 0px 0px;
}

.tabs-section .nav-tabs {
  border: 0;
}

.tabs-section .nav-link {
  border: 0;
  padding: 11px 15px;
  transition: 0.3s;
  color: #000;
  border-radius: 0;
}

.tabs-section .nav-link:hover {
  color: #fff;
  background: #656262;
  width: 100%;
}

.tabs-section .nav-link.active {
  color: #fff;
  background: #656262;
  width: 100%;
}

.tabs-section .nav-link:hover {
  background: #656262;
  color: #fff;
  width: 100%;
}

.open-background {
  background: #f1f1f1;
}

.tabs-section .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.tabs-section .details h3 {
  color: #656262;
}

.tabs-section .details p {
  color: #aaaaaa;
}

.modal-header {
  background: #e0e0e0;
}

.modal-padding {
  padding-right: 1px !important;
}

/* modal styles */

.list-group {
  margin: auto;
}

.cement {
  background: #f1f1f1;
}

.list-group-item:first-child {
  border-top-left-radius: initial !important;
  border-top-right-radius: initial !important;
}

a:hover {
  color: #fff;
  background: #656262;
}

.nav-tabs .nav-link.active {
  border-color: #2185d0 !important;
  color: #2185d0 !important;
  background: 0 0;
}

/* .card-collapsed:hover {
  border-color: #17a2b8;
} */

.sky-blue {
  background-color: #e0eaf1;
}

.normal-blue {
  background-color: #ede0f1;
}

.brown {
  background-color: #e4d8c5;
}

.modal-header1 {
  background-color: #9bc5c3;
}

.fa-2 {
  font-size: 16px !important;
}

.enabledStatus {
  background-color: #21ba45;
  color: #fff;
}

.space {
  display: block;
  border-bottom: 0px;
}

.container-padd {
  padding: 0px;
}

.all-card {
  border-radius: 0px;
}

.all-header {
  background-color: #4374b7;
  color: white;
  display: flex;
  justify-content: center;
  padding: 14px 0px;
}

#header-border1 {
  border-bottom: 4px solid #f7c8c9;
}

#header-border2 {
  border-bottom: 4px solid #cd004b;
}

#header-border3 {
  border-bottom: 4px solid #f6b128;
}

#header-border4 {
  border-bottom: 4px solid #057855;
}

#header-border5 {
  border-bottom: 4px solid #85c446;
}

#header-border6 {
  border-bottom: 4px solid #a25016;
}

#header-border7 {
  border-bottom: 4px solid #94cecb;
}

#header-border8 {
  border-bottom: 4px solid #fb8a2e;
}

#header-border9 {
  border-bottom: 4px solid #00b2a9;
}

.ticket-font {
  font-size: 13px;
  display: flex;
  color: royalblue;
}

.assigne {
  font-size: 11px;
  display: flex;
}

.desc-p {
  padding: 8px 0 8px 0;
  font-size: 12px;
}
.text-wrap {
  font-size: 12px;
  white-space: normal !important;
}
.footer-bt {
  border-top: 0px;
}

.add-bugs {
  border-style: dotted;
  width: 100%;
  border-radius: 5px;
  color: royalblue;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  border-color: darkgray;
}

.add-bugs:hover {
  background-color: #dad8d8;
  /* color: white; */
}

.modal-padding {
  padding-right: 1px !important;
}
.modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-open-modal {
  margin-bottom: 0.5em;
}

.modal-header {
  background: #e0e0e0;
}

.modal-padding {
  padding-right: 1px !important;
}
.modal-header1 {
  background-color: #9bc5c3;
}
.close:focus {
  outline: none;
}

.enabledStatus {
  background-color: #21ba45;
  color: #fff;
}

.tab-content {
  text-align: initial;
}
.table1 {
overflow-x: scroll;
  height: auto;
 }
.fixed{
  position: sticky; right: 0; z-index: 1;background:rgb(232, 232, 234);
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  }

.table2 {
  overflow-y: scroll;
  height: 400px;
  
}
.table2 thead{
  position: sticky;
  top:0;
  border-bottom: 2px solid #dee2e6 !important;
}
th {
    border: 1px solid #dee2e6;
    background: #fff;
   
    right: 0;
  }

  td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 8px;

  }

  .table2::-webkit-scrollbar {
    width: 8px;
    
  }

  .table2::-webkit-scrollbar-track {
    background: rgb(232, 232, 234);
   
}

.table2::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
   
  }

  .table2::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    
  }

  .table2::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    
  }
  /* tr:nth-child(even, odd) {

    background-color: #dddddd;

  } */
