<div id="main_content">
  <app-setting-sidebar></app-setting-sidebar>
  <div class="page">
    <app-header></app-header>

    <div class="section-body mt-3">
      <div class="container-fluid">
        <div class="card">
          <div class="col-lg-12 mt-3">
            <div class="row">
              <div class="col-lg-8">
                <h4 class="pl-3">Country</h4>
              </div>
              <div class="col-lg-4">
                <button
                  class="addButton float-right btn btn-primary"
                  data-toggle="modal"
                  data-target="#large-Modal"
                  (click)="countryAdd()"
                >
                  <span class="css-button-icon"
                    ><i class="fa fa-plus" aria-hidden="true"></i
                  ></span>
                </button>
                <a 
                href="assets/excels/country.xlsx" 
                class="addButton float-right btn btn-primary">
                  <span class="css-button-icon"
                    ><i class="fa fa-download" aria-hidden="true"></i>
                  </span>
                </a>
                <button class="addButton float-right btn btn-primary"
                data-toggle="modal"
                data-target="#large-Modal2"
                (click)="clear()"
                >
                  <span class="css-button-icon"
                    ><i class="fa fa-upload" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <p-table
                [style]="{ width: '100%' }"
                #dt1
                [value]="conData"
                dataKey="id"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                styleClass="p-datatable-customers p-datatable-gridlines p-datatable-responsive-demo"
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              >
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col style="width: 90px" />
                    <col style="width: 150px" />
                    <col style="width: 150px" />
                    <col style="width: 120px" />
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">S.NO</div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Country Code
                        <p-columnFilter
                          type="text"
                          field="country_code"
                          display="menu"
                        ></p-columnFilter>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Country Name
                        <p-columnFilter
                          type="text"
                          field="country_name"
                          display="menu"
                        ></p-columnFilter>
                      </div>
                    </th>
                    <th>
                      <div class="p-d-flex p-jc-between p-ai-center">
                        Action
                      </div>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-conData let-i="rowIndex">
                  <tr>
                    <td>{{ conData.id }}</td>
                    <td>{{ conData.country_code }}</td>
                    <td>{{ conData.country_name }}</td>
                    <td>
                      <button
                        class="edit-button"
                        data-toggle="modal"
                        data-target="#large-Modal"
                        (click)="edit(conData)"
                      >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <!-- <button class="delete-button">
                        <i class="fa fa-trash-o fa-lg"></i>
                      </button> -->
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr *ngIf="!spinner">
                    <td colspan="4" style="text-align: center">
                      No Data Found
                    </td>
                  </tr>
                  <tr *ngIf="spinner">
                    <td colspan="4" style="text-align: center">
                      <div
                        class="col-md-12 text-center"
                        *ngIf="spinner"
                        style="display: block"
                      >
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div
          id="large-Modal"
          class="modal fade bd-example-modal-lg"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Country </h5>
                <button
                  type="button"
                  class="close close-button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <div aria-hidden="true">&times;</div>
                </button>
              </div>
              <form [formGroup]="myForm">
                <div class="modal-body">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-6 pr-3">
                        <div class="form-group">
                          <label>Country Code <span style="color:red;">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="code"
                            formControlName="country_code"
                            [ngClass]="{
                              'is-invalid': submitted && m.country_code.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && m.country_code.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="m.country_code.errors.required">
                              Country Code is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 pl-3">
                        <div class="form-group">
                          <label>Country Name <span style="color:red;">*</span></label>
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            formControlName="country_name"
                            [ngClass]="{
                              'is-invalid': submitted && m.country_name.errors
                            }"
                          />
                          <div
                            *ngIf="submitted && m.country_name.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="m.country_name.errors.required">
                              Country Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary footer-button"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                  [disabled]="spinner"
                    type="submit"
                    class="btn btn-primary footer-button"
                    (click)="countryForm()"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upload -->
<div
  class="modal fade"
  id="large-Modal2"
  tabindex="-1"
  role="dialog"
  style="z-index: 1050; display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload</h4>
        <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <div aria-hidden="true">&times;</div>
      </button>
      </div>
      <div class="modal-body">
        <div class="jFiler-input-dragDrop">
          <input
            type="file"
            class="upload"
            [(ngModel)]="file"
            (change)="handleFile($event)"
            id="excel"
            style="width: 240px; word-break: break-all; white-space: normal"
          />
        </div>
        <div class="jFiler-items jFiler-row">
          <ul class="jFiler-items-list jFiler-items-grid"></ul>
        </div>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-secondary footer-button"
        data-dismiss="modal"
      >
        Close
      </button>
      <button
        [disabled]="spinner"
        type="save"
        class="btn btn-primary footer-button"
        data-dismiss="modal"
      (click)="countryUpload()"
      >
        Upload
      </button>
      </div>
    </div>
  </div>
</div>

